mt_loc/Performance Evalution/SI-Annotative/SI-T10/RoadsideTaxiChain.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ws.apache.org/axis2/xsd/taxichain" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://ws.apache.org/axis2/taxichain" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.apache.org/axis2/taxichain">
    <wsdl:documentation>RoadsideTaxiChain</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2/xsd/taxichain">
            <xs:element name="rentCar">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="rentCarResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="rentCarRequest">
        <wsdl:part name="parameters" element="ns:rentCar"/>
    </wsdl:message>
    <wsdl:message name="rentCarResponse">
        <wsdl:part name="parameters" element="ns:rentCarResponse"/>
    </wsdl:message>
    <wsdl:portType name="RoadsideTaxiChainPortType">
        <wsdl:operation name="rentCar">
            <wsdl:input message="tns:rentCarRequest" wsaw:Action="urn:rentCar"/>
            <wsdl:output message="tns:rentCarResponse" wsaw:Action="urn:rentCarResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RoadsideTaxiChainSoap11Binding" type="tns:RoadsideTaxiChainPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="rentCar">
            <soap:operation soapAction="urn:rentCar" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RoadsideTaxiChainSoap12Binding" type="tns:RoadsideTaxiChainPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="rentCar">
            <soap12:operation soapAction="urn:rentCar" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RoadsideTaxiChainHttpBinding" type="tns:RoadsideTaxiChainPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="rentCar">
            <http:operation location="rentCar"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RoadsideTaxiChain">
        <wsdl:port name="RoadsideTaxiChainHttpSoap11Endpoint" binding="tns:RoadsideTaxiChainSoap11Binding">
            <soap:address location="http://localhost:8082/axis2/services/RoadsideTaxiChain.RoadsideTaxiChainHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RoadsideTaxiChainHttpSoap12Endpoint" binding="tns:RoadsideTaxiChainSoap12Binding">
            <soap12:address location="http://localhost:8082/axis2/services/RoadsideTaxiChain.RoadsideTaxiChainHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RoadsideTaxiChainHttpEndpoint" binding="tns:RoadsideTaxiChainHttpBinding">
            <http:address location="http://localhost:8082/axis2/services/RoadsideTaxiChain.RoadsideTaxiChainHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>