overhead-utilization/Eval_Resources/ODE-BPEL/PartSupplierService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ws.apache.org/axis2/xsd/ps" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://ws.apache.org/axis2/ps" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.apache.org/axis2/ps">
    <wsdl:documentation>PartSupplierService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2/xsd/ps">
            <xs:element name="orderParts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="orderPartsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="orderPartsRequest">
        <wsdl:part name="parameters" element="ns:orderParts"/>
    </wsdl:message>
    <wsdl:message name="orderPartsResponse">
        <wsdl:part name="parameters" element="ns:orderPartsResponse"/>
    </wsdl:message>
    <wsdl:portType name="PartSupplierServicePortType">
        <wsdl:operation name="orderParts">
            <wsdl:input message="tns:orderPartsRequest" wsaw:Action="urn:orderParts"/>
            <wsdl:output message="tns:orderPartsResponse" wsaw:Action="urn:orderPartsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PartSupplierServiceSoap11Binding" type="tns:PartSupplierServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="orderParts">
            <soap:operation soapAction="urn:orderParts" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PartSupplierServiceSoap12Binding" type="tns:PartSupplierServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="orderParts">
            <soap12:operation soapAction="urn:orderParts" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PartSupplierServiceHttpBinding" type="tns:PartSupplierServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="orderParts">
            <http:operation location="orderParts"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PartSupplierService">
        <wsdl:port name="PartSupplierServiceHttpSoap11Endpoint" binding="tns:PartSupplierServiceSoap11Binding">
            <soap:address location="http://localhost:8082/axis2/services/PartSupplierService.PartSupplierServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PartSupplierServiceHttpSoap12Endpoint" binding="tns:PartSupplierServiceSoap12Binding">
            <soap12:address location="http://localhost:8082/axis2/services/PartSupplierService.PartSupplierServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PartSupplierServiceHttpEndpoint" binding="tns:PartSupplierServiceHttpBinding">
            <http:address location="http://localhost:8082/axis2/services/PartSupplierService.PartSupplierServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>